<%- include('partials/header') %>

<div class="wrap">
  <div class="page">
    <% if (typeof(category) === "string") { %>
      <h2 class="page__category"><%= settings.categories.find(({ id }) => id === category).title %></h2>
    <% } %>
    <h1 class="page__title"><%= title %></h1>
    <%- contents %>
  </div>
</div>

<%- include('partials/footer') %>
