<%- include('partials/header') %>

<div class="page">
  <h2 class="page__category"><%= settings.categories.find(({ id }) => id === category).title %></h2>
  <h1 class="page__title"><%= title %></h1>
  <div class="page__content">
    <%- contents %>
  </div>
</div>

<%- include('partials/footer') %>
